<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd 
   http://www.springframework.org/schema/security
   http://www.springframework.org/schema/security/spring-security.xsd">
   
<security:http pattern="/resources/**" security="none" />
	<security:http auto-config="true">
	
		<security:intercept-url pattern="/home*" access="isAnonymous()" />
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />

		<security:form-login login-page="/signin" default-target-url="/home"
			authentication-success-forward-url="/home"
			authentication-failure-forward-url="/signin?error=true" username-parameter="username"   password-parameter="password"
			always-use-default-target="true"/>
             
        <security:logout logout-url="/logout" logout-success-url="/" />
        
		<security:csrf disabled="true"/>
	</security:http>
		
	
<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select username,password,enabled from User where username = ?"
				authorities-by-username-query="select username, role from User where username = ?" />
		</security:authentication-provider>
	</security:authentication-manager>
	
   </beans:beans>